* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
// media query.......////././././
@mixin mobile {
    @media (max-width: 992.9px) {
        @content;
    }
}

// first nav.........................//////////////
nav {
    display: flex;
    justify-content: space-around;
    .nav-brand {
        img {
            padding: 5%;
        }
    }
    .brand-name {
        text-align: center;
        padding-top: 10px;
        height: 80px;
        line-height: normal;
        .head {
            font-size: 200%;
            @include mobile {
                font-size: large;
            }
        }
    }

    .social-m {
        padding-top: 40px;
        @include mobile {
            display: none;
        }
    }
}
// second nav

.navbar {
    background-color: #c58940 !important;

    .container-fluid {
        .collapse {
            ul {
                .dropdown {
                    .dropdown-menu {
                        background-color: #d8a362c5;
                        li {
                            a:hover {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
        button {
            color: rgb(94, 7, 7);
            // background-color: red;
        }
    }
    a {
        color: white;
    }
    a:hover {
        color: rgba(255, 0, 0, 0.881);
    }
}
// end second nav
// backgorund img///////////..............
.container-body {
    height: 100vh;
    img {
        height: 814px;
        position: absolute;
        @include mobile {
            width: 100%;
        }
    }
    .overlay {
        position: relative;
        background-color: rgba(0, 0, 0, 0.521);
        height: 20%;
        bottom: 0;
        top: 120%;
        form {
            display: flex;
            justify-content: center;
            gap: 10px;
            padding: 4%;
            position: relative;
            @include mobile {
                margin: 10px;
            }
            .input {
                input {
                    height: 90%;
                    font-family: "Bebas Neue", cursive;
                    background-color: rgba(250, 235, 215, 0.705);
                    border: none;
                    position: relative;
                    @include mobile {
                        width: 80%;
                    }
                }
                input[type="text"] {
                    padding: 2px;
                    font-weight: bolder;
                    color: black;
                }
                input:focus {
                    outline: none;
                    border: 1px solid red;
                }
                select {
                    height: 100%;
                    font-family: "Bebas Neue", cursive;
                    border: none;
                    position: relative;
                }
                select[type="text"] {
                    padding: 2px;
                    background-color: rgba(250, 235, 215, 0.705);
                }
                select:focus {
                    outline: none;
                    border: 1px solid red;
                }
            }
            // button design...////////////////
            button,
            button::after {
                width: 180px;
                height: 40px;
                font-size: 20px;
                font-family: "Bebas Neue", cursive;
                background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
                border: 0;
                color: #fff;
                letter-spacing: 3px;
                // line-height: 88px;
                box-shadow: 6px 0px 0px #00e6f6;
                outline: transparent;
                position: relative;
                @include mobile {
                    width: 100px;
                }
            }

            button::after {
                --slice-0: inset(50% 50% 50% 50%);
                --slice-1: inset(80% -6px 0 0);
                --slice-2: inset(50% -6px 30% 0);
                --slice-3: inset(10% -6px 85% 0);
                --slice-4: inset(40% -6px 43% 0);
                --slice-5: inset(80% -6px 5% 0);

                content: "SUBMIT";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(
                    45deg,
                    transparent 3%,
                    #00e6f6 3%,
                    #00e6f6 5%,
                    #ff013c 5%
                );
                text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
                clip-path: var(--slice-0);
            }

            button:hover::after {
                animation: 1s glitch;
                animation-timing-function: steps(2, end);
            }

            @keyframes glitch {
                0% {
                    clip-path: var(--slice-1);
                    transform: translate(-20px, -10px);
                }
                10% {
                    clip-path: var(--slice-3);
                    transform: translate(10px, 10px);
                }
                20% {
                    clip-path: var(--slice-1);
                    transform: translate(-10px, 10px);
                }
                30% {
                    clip-path: var(--slice-3);
                    transform: translate(0px, 5px);
                }
                40% {
                    clip-path: var(--slice-2);
                    transform: translate(-5px, 0px);
                }
                50% {
                    clip-path: var(--slice-3);
                    transform: translate(5px, 0px);
                }
                60% {
                    clip-path: var(--slice-4);
                    transform: translate(5px, 10px);
                }
                70% {
                    clip-path: var(--slice-2);
                    transform: translate(-10px, 10px);
                }
                80% {
                    clip-path: var(--slice-5);
                    transform: translate(20px, -10px);
                }
                90% {
                    clip-path: var(--slice-1);
                    transform: translate(-10px, 0px);
                }
                100% {
                    clip-path: var(--slice-1);
                    transform: translate(0);
                }
            }
            //   end of button design  ................////////////
        }
        @include mobile {
            display: none;
        }
    }
}
// sticky button....////////////////
.fixedbutton {
    position: fixed;
    width: 100px;
    height: 50px;
    top: 250px;
    font-family: "Bebas Neue", cursive;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: none;
    z-index: 99999;
    @include mobile {
        display: none;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}

.fixedbutton::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: "Email Us";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        45deg,
        transparent 3%,
        #00e6f6 3%,
        #00e6f6 5%,
        #ff013c 5%
    );
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

.fixedbutton:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

// BODY
.bodycontent1 {
    margin-top: 22%;
    text-align: center;
    color: red;
    h1 {
        font-family: "Bebas Neue", cursive;
    }
    @include mobile {
        margin-top: 40%;
    }
}
.row {
    p {
        text-align: center;
        padding: 2%;
        font-family: "Bebas Neue", cursive;
    }
}
// third section..............///////////////////

.galleryImg {
    // padding-top: 20%;
    display: flex;
    gap: 20px;
    justify-content: center;
    .gal {
        img {
            width: 100%;
            border-radius: 5px;
            @include mobile {
                width: 100%;
            }
        }
    }
    @include mobile {
        display: block;
        padding: 10px;
        width: 50%;
        margin-left: 100px;
    }
}
.overlayimg {
    position: relative;
    background-color: rgba(245, 239, 239, 0.475);
    height: 60px;
    width: auto;
    top: -64px;
    bottom: 0;
    text-align: center;
    line-height: 300%;
    font-size: large;
    font-weight: bolder;
    color: white;
}

// about us ............................//////////////////////////

.aboutContainer {
    background-image: url("../../public/images/about.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 200vh;
    display: flex;
    justify-content: center;

    .aboutOverlay {
        height: 200vh;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.644);
        position: relative;
        text-align: center;
        padding: 10px;
        font-family: "Bebas Neue", cursive;
        h1 {
            color: #c58940;
        }
        h3 {
            padding-top: 5%;
        }
        // contact image////............*******
        .img-div {
            padding-top: 5%;
            img {
                width: 50%;
                height: 20%;
            }
        }
        .info {
            padding-top: 2px;
            p {
                font-size: large;
                a {
                    text-decoration: none;
                    color: red;
                    font-size: larger;
                }
            }
        }

        .contactform {
            display: flex;
            justify-content: center;
            .input-group {
                input {
                    background: transparent;
                    border: solid #c58940;
                    border-right: 0;
                }
            }
            .d-flex {
                gap: 50px;
                .input-group {
                    height: 50%;
                    input {
                        background: transparent;
                        border: solid #c58940;
                        border-right: 0;
                    }
                    select {
                        border: solid #c58940;
                    }
                }
            }
            .form-floating {
                textarea {
                    background-color: transparent;
                    border: solid #c58940;
                }
            }
            .moreoptions {
                select {
                    // background:#c5894080;
                    border: solid #c58940;
                    // border-right: 0;
                }
                option:hover {
                    background-color: red !important;
                }
            }
        }
        //end of contact image........//////////////.........
    }
}
// about us end......................////////////////////////

// footer container
footer {
    padding: 20px;
    background: rgb(206, 169, 143);
    background: linear-gradient(
        0deg,
        rgba(206, 169, 143, 1) 0%,
        rgba(202, 176, 130, 1) 35%,
        rgba(132, 98, 42, 1) 85%
    );
    height: 400px;
    display: flex;
    justify-content: center;

    .containFooter {
        width: 800px;
        padding: 25px;
        text-align: center;
        .footernav {
            padding: 20px;
        }
        p {
            padding: 30px;
        }
        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            font-family: monospace;
        }
        a:hover {
            color: #ff013c;
        }
        .footerCountries {
            padding: 10px;
        }
        .copyright {
            padding-top: 90px;
            font-size: small;
            @include mobile {
                padding-top: 20px;
            }
        }
    }
    @include mobile {
        height: 100%;
    }
}
